* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding: 0;
    background: radial-gradient(
        circle at 50% 30%,
        rgb(34, 34, 34) 5%,
        rgb(0, 0, 0) 90%
    );
    overflow-y: hidden;
    overflow-x: hidden;
}

input {
    padding: 7px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-weight: bold;
    font-family: "Roboto";
    background-color: rgb(236, 236, 236);
    font-size: 1rem;
    min-width: 12.8rem;
}

input:focus {
    outline: none;
}

h1 {
    margin-top: 0.3rem;
    margin-bottom: 1.8rem;
}

h2 {
    color: white;
    font-size: 1rem;
    font-family: "Orbitron";
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.imageCanvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.connectionCanvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    /* align-items: center; */
}

.rightColums {
    display: flex;
    flex-direction: column;
}

.latestData,
.insights,
.network-price-box,
.user-guide {
    display: flex;
    flex-direction: column;
    border: 1px solid #afafaf;
    background: linear-gradient(to bottom, #3a3a3a, rgb(20, 20, 20));
    margin-top: 3rem;
    height: 15rem;
    padding: 1.2rem 0.6rem;
    border-radius: 5px;
    min-width: 16rem;
}

.insights {
    margin-top: 2rem;
    padding: 0.8rem;
    padding-bottom: 0;
    height: 8.5rem;
}

.network-price-box {
    height: 9rem;
}

.network-price-box {
    height: 8rem;
    padding: 1.2rem 1.2rem;
}

.contractUI {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
    margin: 2.5rem 0;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(31, 31, 31));
}

.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-guide {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1rem;
    max-height: 9rem;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(22, 22, 22));
}

.use-steps {
    color: rgba(119, 250, 255, 0.795);
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.75rem;
    min-height: 0.8rem;
    margin-bottom: 0.3rem;
}

.upvote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    min-width: 10rem;
    margin: 1rem 4rem;
    flex-direction: column;
}

.coffee {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    width: 52px;
    height: 52px;
    background: none;
}

.upvote-label {
    color: white;
    font-family: "Roboto";
}

.upvote-count {
    font-family: "Roboto";
    text-align: center;
    font-size: 1.1rem;
    color: rgb(255, 251, 36);
}

.networkInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 0.75rem;
    padding: 0.8rem 1rem;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
    background: linear-gradient(to bottom, rgb(39, 39, 39), rgb(22, 22, 22));
}

.credits {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-right: 2.7rem;
    margin-left: 1rem;
    min-width: 14rem;
    color: rgb(255, 230, 0);
    font-size: 0.9rem;
    font-family: "Roboto";
    border: 1px solid rgb(197, 197, 197);
    background: linear-gradient(to bottom, rgb(43, 43, 43), rgb(15, 15, 15));
    border-radius: 5px;
    height: 7rem;
}

.user-guide-label {
    margin-bottom: 1.3rem;
}

.creator-label {
    font-size: 0.8rem;
    color: #e4e4e4;
}

.follow-label {
    font-size: 0.8rem;
    color: #e4e4e4;
    margin-bottom: 0.1rem;
    padding-top: 0.5rem;
}

.follow-link-logo {
    align-items: center;
    width: 24px;
    margin: 0.5rem 0rem;
    margin-right: 0.8rem;
}

.follow-links {
    display: flex;
}

.projectTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron";
    color: white;
    font-size: 1.5rem;
}

.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
}

.description {
    max-width: 70%;
    font-family: "Roboto Condensed";
    color: rgb(173, 173, 173);
    font-size: 0.85rem;
}

.details {
    width: 100%;
    display: flex;
}

.contract-details {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 0.8rem;
}

.network-detail {
    padding-top: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    max-height: 2.4rem;
    justify-content: center;
}

.ownerDetail,
.contractDetail {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    font-family: "Orbitron";
    margin-bottom: 0.25rem;
}

.ownerLabel,
.contractLabel {
    font-weight: bold;
    color: white;
    min-width: 5rem;
}

.ownerAddress,
.contractAddress {
    padding-top: 3px;
    min-height: 1.15rem;
    color: #85fdf3c9;
    font-size: 0.8rem;
    font-family: "Roboto";
}

.colon {
    margin-right: 0.4rem;
    font-weight: bold;
    color: white;
}

.contractAddress {
    cursor: pointer;
}

.connectButtonDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
}

.amtAndSymbol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 0.5rem;
}

.amtLabel {
    font-family: "Orbitron";
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.ethLabel {
    font-family: "Orbitron";
    font-size: 1rem;
    color: rgb(255, 47, 151);
    font-weight: bold;
    text-align: center;
    min-width: 7rem;
    min-height: 1.2rem;
}

.networkLabel {
    text-align: center;
    font-family: "Roboto";
    color: #e7e7e7bb;
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
}

.buttonCss {
    cursor: pointer;
    border: 2px white solid;
    color: white;
    border-radius: 0.5em;
    background: linear-gradient(to right, #00ffea, #0087ff);
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-shadow: 0px 0px 2px #000000;
    transition: background-color 0.3s ease;
    padding: 0.5em 1em; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    width: auto;
    height: auto;
}

.connectButtonCss {
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to right, #ff78d2, #d30d80);
    width: 9rem;
    height: 3rem;
}

.balanceButtonCss {
    min-width: 8.2rem;
    min-height: 2.6rem;
}

.withdrawButtonCss {
    min-width: 8.2rem;
    min-height: 2.6rem;
}

.fundButtonCss {
    min-width: 6rem;
    min-height: 2.5rem;
}

.buttonCss:hover {
    background: linear-gradient(to right, #00ccff, #152cfd);
}

.connectButtonCss:hover {
    background: linear-gradient(to right, #fc16af, #d30342);
}

.actionElements {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftAction {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.541);
    background-color: rgba(24, 24, 24, 0.445);
    border-radius: 5px;
}

.rightAction {
    display: flex;
    min-width: 30%;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.541);
    background-color: rgba(24, 24, 24, 0.445);
    border-radius: 5px;
}

.leftActionFirstRow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    width: 100%;
}

.leftActionSecondRow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    margin-top: 0.5rem;
    width: 100%;
}

.ethFund {
    display: flex;
    align-items: center;
    padding-top: 3px;
    min-width: 67%;
    margin-right: 0.45rem;
}

.converted-amt {
    color: white;
    font-family: "Roboto";
    width: 7rem;
    font-size: 0.9rem;
    text-align: center;
}

.notificationCss {
    color: rgba(255, 255, 255, 0.692);
    font-family: "Orbitron";
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notificationLabelCss {
    text-align: center;
    color: rgb(36, 255, 200);
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.notificationValueCss {
    font-family: "Roboto";
    text-align: center;
}

.endContainer {
    display: flex;
    justify-content: space-around;
}

.testnetInfo,
.mainnetInfo {
    display: flex;
    align-items: center;
    color: rgb(216, 216, 216);
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 0.8rem;
}

.testnetInfo {
    margin-bottom: 0.2rem;
}

.testnetLabel,
.mainnetLabel {
    min-width: 8.4rem;
    color: rgb(253, 69, 207);
}

.mainnetInfo {
    margin-bottom: 0.7rem;
}

.testnets {
    font-size: 0.8rem;
}

.mainnets {
    color: grey;
}

.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(86, 255, 71);
    font-family: "Roboto";
}

.donateLabel {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.donationDetail {
    font-family: "Roboto";
    font-size: 0.82rem;
    color: rgb(196, 196, 196);
}

.thankYou {
    text-align: center;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.loading {
    text-align: center;
    color: rgb(44, 255, 227);
    margin-bottom: 0.5rem;
    font-family: "Roboto";
    min-height: 1rem;
    font-size: 0.8rem;
}

.transactions {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.side-box-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.network-price {
    margin: 0.2rem auto;
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

.latest-fund,
.maximum-fund {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.2rem;
    min-height: 2.8rem;
}

.maximum-fund {
    margin-bottom: 1rem;
}

.latest-fund-label,
.maximum-fund-label,
.total-funders-label,
.total-funded-amt-label,
.crypto-pair {
    color: rgb(55, 118, 255);
    font-family: "Orbitron";
    font-size: 0.8rem;
    font-weight: bold;
    min-width: 6.5rem;
}

.latest-fund-label,
.maximum-fund-label {
    min-width: 7.5rem;
}

.crypto-pair {
    font-family: "Orbitron";
    color: rgb(255, 98, 229);
    font-size: 0.75rem;
    padding: 0.1rem 0;
}

.total-funders-label,
.total-funded-amt-label {
    padding: 0.1rem 0;
    min-width: 7.2rem;
}

.latest-fund-address-label,
.maximum-fund-address-label {
    color: rgb(190, 229, 255);
    font-family: "Roboto";
    /* text-align: center; */
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem 0;
}

.latest-funder-address,
.maximum-funder-address {
    color: rgba(102, 250, 255, 0.774);
    font-size: 0.6rem;
    font-family: "Roboto";
}

.latest-fund-amt,
.maximum-fund-amt,
.total-funders,
.total-funded-amt,
.eth-pair-price,
.matic-pair-price {
    color: rgb(231, 231, 231);
    font-size: 0.8rem;
    font-family: "Roboto";
}
